{% extends "base.html" %}
{% block title %}Template: {{ filename }}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Template: {{ filename }}</h1>
    <div>
        <a href="{% url 'template_list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>

<div class="card">
    <div class="card-body" style="padding:30px;max-width:800px;margin:0 auto;">
        {% if erro %}
            <div class="empty-state"><p>{{ erro }}</p></div>
        {% else %}
            {{ html_content|safe }}
        {% endif %}
    </div>
</div>
{% endblock %}
